html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #212121;
}

::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track:vertical {
    background: #212121; 
}
::-webkit-scrollbar-track:horizontal {
    background: #424242; 
}

/* Handle */
::-webkit-scrollbar-thumb  {
    border-radius: 8px; 
}
::-webkit-scrollbar-thumb:vertical {
    background: #424242; 
}
::-webkit-scrollbar-thumb:horizontal  {
    background: #212121; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover:vertical{
    background: #616161; 
}
::-webkit-scrollbar-thumb:hover:horizontal {
    background: #616161; 
}